/* IMPORT */
/* IMPORT */
/* COLOR PALETTE */
/* GENERAL */
/* MEDIA QUERIES */
/* GENERAL CONFIGURATIONS FOR ALL FILES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, a {
  list-style: none;
  text-decoration: none;
  color: #F2F2F2;
}

.orange-text {
  color: #E75820;
}

.home-body {
  background-image: url("../src/assets/img/home-bg.png");
  width: 100%;
  background-repeat: no-repeat;
  margin: 40px 0px 0px 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.body-views {
  background-image: url("../src/assets/img/views-bg-lg.png");
  width: 100%;
  background-repeat: no-repeat repeat;
  position: absolute;
  left: 0px;
  overflow-x: hidden;
}

/* FAB BUTTON */
.fab {
  position: fixed;
  width: 96px;
  height: 96px;
  right: 10px;
  bottom: 10px;
  z-index: 99;
}

/* COLOR PALETTE */
/* GENERAL */
/* MEDIA QUERIES */
/* GENERAL --> TITLES & SUBTITLES FONT CONF */
.titles {
  font-family: montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #F2F2F2;
  text-transform: uppercase;
  text-align: center;
  font-display: swap;
}

.subtitles {
  margin: 0px 40px;
  padding-top: 10px;
  text-align: center;
  font-family: montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F2F2F2;
  font-display: swap;
}

/* CONTACTANOS --> FORM */
#label-form-name, #label-form-apellido, #label-form-mail, #label-form-actividad, #label-form-consulta {
  font-family: "montserrat";
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #F2F2F2;
}

#exampleFormControlInput1:focus, #exampleFormControlInput2:focus, #exampleFormControlInput3:focus, #exampleFormControlInput4:focus, #exampleFormControlTextarea1:focus {
  border-bottom: none;
  border-color: #E75820;
  box-shadow: 0 0 15px #E75820;
}

/* ------ FONTS ------ */
/* Montserrat Bold: for H1 and titles */
@font-face {
  font-family: "montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("./src/assets/fonts/montserrat-bold.woff2") format("woff2"), url("./src/assets/fonts/montserrat-bold.woff") format("woff");
}
/* Montserrat Medium for H2, subtitles, menu items */
@font-face {
  font-family: "montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("./src/assets/fonts/montserrat-medium.woff2") format("woff2"), url("./src/assets/fonts/montserrat-medium.woff") format("woff");
}
/* Montserrat SemiBold for buttoms */
@font-face {
  font-family: "montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("./src/assets/fonts/montserrat-semibold.woff2") format("woff2"), url("./src/assets/fonts/montserrat-semibold.woff2") format("woff");
}
/* Poppins Medium for Benefits text */
@font-face {
  font-family: "poppins";
  font-weight: 500;
  font-style: normal;
  src: url("./src/assets/fonts/poppins-medium.woff2") format("woff2"), url("./src/assets/fonts/poppins-medium.woff") format("woff");
}
/* Poppins Light for Footer text */
@font-face {
  font-family: "poppins";
  font-weight: 300;
  font-style: normal;
  src: url("./src/assets/fonts/poppins-light.woff2") format("woff2"), url("./src/assets/fonts/poppins-light.woff") format("woff");
}
/* Poppins Light Italic for Copyright */
@font-face {
  font-family: "poppins";
  font-weight: 300;
  font-style: italic;
  src: url("./src/assets/fonts/poppins-lightitalic.woff2") format("woff2"), url("./src/assets/fonts/poppins-lightitalic.woff") format("woff");
}
/* ------------------------------------------------- */
/* TITLES & SUBTITLES STYLES START */
@media all and (max-width: 576px) {
  .titles {
    font-family: montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 59px;
    color: #F2F2F2;
    text-transform: uppercase;
    text-align: center;
    font-display: swap;
  }
}

@media all and (max-width: 576px) {
  .subtitles {
    padding-top: 10px;
    text-align: center;
    font-family: montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #F2F2F2;
    font-display: swap;
  }
}

#contactanos-subtitle {
  text-align: left;
}

/* TITLES & SUBTITLES STYLES END */
/* GENERAL --> TITLES & SUBTITLES FONT CONF */
.titles {
  font-family: montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #F2F2F2;
  text-transform: uppercase;
  text-align: center;
  font-display: swap;
}

.subtitles {
  margin: 0px 40px;
  padding-top: 10px;
  text-align: center;
  font-family: montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F2F2F2;
  font-display: swap;
}

/* CONTACTANOS --> FORM */
#label-form-name, #label-form-apellido, #label-form-mail, #label-form-actividad, #label-form-consulta {
  font-family: "montserrat";
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #F2F2F2;
}

#exampleFormControlInput1:focus, #exampleFormControlInput2:focus, #exampleFormControlInput3:focus, #exampleFormControlInput4:focus, #exampleFormControlTextarea1:focus {
  border-bottom: none;
  border-color: #E75820;
  box-shadow: 0 0 15px #E75820;
}

/* FONTS */
/* GENERAL */
.header .navbar .container .collapse .navbar-nav .nav-item .nav-link {
  font-family: Montserrat;
  font-style: bold;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  font-display: swap;
}
@media all and (max-width: 360px) {
  .header .navbar .container .collapse .navbar-nav .nav-item .nav-link {
    font-family: Montserrat;
    font-style: bold;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
  }
}
.header .navbar .container .collapse .navbar-nav .nav-item #link-one, .header .navbar .container .collapse .navbar-nav .nav-item #link-two, .header .navbar .container .collapse .navbar-nav .nav-item #link-three, .header .navbar .container .collapse .navbar-nav .nav-item #link-four {
  color: #F2F2F2;
}
.header .navbar .container .collapse .navbar-nav .nav-item #link-one:hover, .header .navbar .container .collapse .navbar-nav .nav-item #link-two:hover, .header .navbar .container .collapse .navbar-nav .nav-item #link-three:hover, .header .navbar .container .collapse .navbar-nav .nav-item #link-four:hover {
  color: #E75820;
}

/* GENERAL */
/* ------------ */
/* FOOTER SECTION WITH BOOTSTRAP START */
footer {
  width: 100%;
  background-color: #000000;
}
footer .footer-div {
  width: 100%;
  padding: 40px 0px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: none;
  justify-content: space-evenly;
  /*display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;*/
}
footer .footer-div .footer-section-logo {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  align-items: center;
  justify-content: flex-start;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;*/
}
footer .footer-div .footer-nav .footer-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px 0px;
}
footer .footer-div .footer-nav .footer-menu-list #link-footer-one, footer .footer-div .footer-nav .footer-menu-list #link-footer-two, footer .footer-div .footer-nav .footer-menu-list #link-footer-three, footer .footer-div .footer-nav .footer-menu-list #link-footer-four, footer .footer-div .footer-nav .footer-menu-list #link-footer-five {
  padding: 4px 0px;
  font-family: poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #F2F2F2;
  text-transform: capitalize;
  font-display: swap;
}
footer .footer-div .footer-nav .footer-menu-list #link-footer-one:hover, footer .footer-div .footer-nav .footer-menu-list #link-footer-two:hover, footer .footer-div .footer-nav .footer-menu-list #link-footer-three:hover, footer .footer-div .footer-nav .footer-menu-list #link-footer-four:hover, footer .footer-div .footer-nav .footer-menu-list #link-footer-five:hover {
  color: #E75820;
}
footer .footer-div .footer-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
footer .footer-div .footer-info-container .footer-info {
  padding: 4px 0px;
}
footer .footer-div .footer-info-container .footer-info .footer-text {
  font-family: poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #F2F2F2;
  font-display: swap;
  margin: 10px 0px 0px 40px;
}
footer .footer-div .footer-info-container .footer-info .footer-text .footer-location-text:hover {
  color: #E75820;
}
footer .footer-div .footer-info-container .footer-info .footer-text .footer-email-text:hover {
  color: #E75820;
}
@media all and (max-width: 360px) {
  footer .footer-div .footer-info-container {
    align-items: center;
  }
}
@media all and (max-width: 576px) {
  footer .footer-div .footer-info-container {
    align-items: center;
  }
}
@media all and (max-width: 992px) {
  footer .footer-div .footer-info-container {
    align-items: center;
  }
}
footer .footer-div .footer-social-media .footer-text {
  font-family: poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #F2F2F2;
  font-display: swap;
  margin: 10px 0px 0px 40px;
}
footer .footer-div .footer-social-media {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
footer .footer-div .footer-social-media #follow-us {
  margin: 0;
  padding-top: 8px;
}
footer .footer-div .footer-social-media .rrss-icons {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
}
footer .footer-div .footer-social-media .rrss-icons .footer-icon {
  padding: 0px 10px;
}
@media all and (max-width: 576px) {
  footer .footer-div {
    justify-content: space-evenly;
    flex-direction: column;
  }
}
@media all and (max-width: 992px) {
  footer .footer-div {
    justify-content: space-evenly;
    flex-direction: column;
  }
}
footer .copyright .copyright-text {
  font-family: poppins;
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  line-height: 8px;
  color: #F2F2F2;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 0px;
  font-display: swap;
}
@media all and (max-width: 576px) {
  footer {
    width: 100%;
    background-color: #000000;
  }
}
@media all and (max-width: 992px) {
  footer {
    width: 100%;
    background-color: #000000;
  }
}

/* GENERAL & GRID CONFIG */
.body-container-conocenos {
  margin: 40px 0px 0px 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat 3, auto;
  grid-row-gap: 0px;
}
@media all and (max-width: 576px) {
  .body-container-conocenos {
    margin: 40px 0px 0px 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 0px;
  }
}

.header-conocenos {
  grid-row-start: 1;
  grid-row-end: 2;
}

.conocenos-section {
  grid-row-start: 2;
  grid-row-end: 3;
}

.footer-conocenos {
  grid-row-start: 3;
  grid-row-end: 4;
}

.conocenos-container-title {
  margin-top: 60px;
}

/* --------------------------- */
/* CONOCENOS SECTION CARDS */
.conocenos-section .card-group-container {
  margin: 5% 10%;
}
.conocenos-section .card-container-card .card-profe {
  border: none;
  background: none;
}
.conocenos-section .card-container-card .card-profe .card-img {
  filter: grayscale(100%);
  width: 33, 33%;
  height: 33, 33%;
}
.conocenos-section .card-container-card .card-profe .card-img:hover {
  filter: none;
  border: #E75820 solid 4px;
  border-radius: 24px;
  transition: all 0.5s ease-in-out;
}
.conocenos-section .card-container-card .card-profe .card-body .profe-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  font-display: swap;
  /*font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;*/
  line-height: 19px;
  text-transform: uppercase;
  color: #F2F2F2;
}
.conocenos-section .card-container-card .card-profe .card-body .profe-class {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  font-display: swap;
  /*font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;*/
  color: #F2F2F2;
}

/* CONOCENOS END */
/* GENERAL & GRID CONFIG */
.body-container-actividades {
  margin: 40px 0px 0px 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header-nav-actividades {
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.actividades-section {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 60px;
}

.footer-actividades {
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* STYLES */
.actividades-section .actividades-heading-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px, 40px;
}
.actividades-section .actividades-container {
  margin: 60px 0px 80px 0px;
}
.actividades-section .actividades-container .actividades-first-row, .actividades-section .actividades-container .actividades-second-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.actividades-section .actividades-container .actividades-first-row .actividad, .actividades-section .actividades-container .actividades-second-row .actividad {
  background-color: rgba(51, 51, 51, 0.25);
  background-repeat: no-repeat;
  border-radius: 22.3294px;
  width: 287.6px;
  height: 271.53px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.actividades-section .actividades-container .actividades-first-row .actividad:hover, .actividades-section .actividades-container .actividades-second-row .actividad:hover {
  background-color: rgba(231, 88, 51, 0.55);
  transition: all 0.5s ease-in-out;
}
.actividades-section .actividades-container .actividades-first-row .actividad .actividad-icon, .actividades-section .actividades-container .actividades-second-row .actividad .actividad-icon {
  width: 60x;
  height: 60px;
  margin: 20px 40px;
}
.actividades-section .actividades-container .actividades-first-row .actividad .actividad-name, .actividades-section .actividades-container .actividades-second-row .actividad .actividad-name {
  padding: 10px 0px 10px 40px;
  font-family: montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16.0771px;
  line-height: 20px;
  letter-spacing: 0.045em;
  color: #F2F2F2;
  text-transform: uppercase;
  font-display: swap;
}
.actividades-section .actividades-container .actividades-first-row .actividad .actividad-text, .actividades-section .actividades-container .actividades-first-row .actividad .mas-info-link, .actividades-section .actividades-container .actividades-second-row .actividad .actividad-text, .actividades-section .actividades-container .actividades-second-row .actividad .mas-info-link {
  font-family: montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #F2F2F2;
  font-display: swap;
}
.actividades-section .actividades-container .actividades-first-row .actividad .actividad-text, .actividades-section .actividades-container .actividades-second-row .actividad .actividad-text {
  width: auto;
  height: auto;
  padding: 0px 25px 0px 40px;
  text-align: left;
}
.actividades-section .actividades-container .actividades-first-row .actividad .mas-info-link, .actividades-section .actividades-container .actividades-second-row .actividad .mas-info-link {
  text-align: end;
  width: fit-content;
  height: fit-content;
  padding: 40px 0px 10px 220px;
}
.actividades-section .actividades-container .actividades-second-row {
  padding-top: 40px;
}

/* ACTIVIDADES END */
/* GENERAL & GRID CONFIG */
.body-membresias {
  margin: 40px 0px 0px 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header-membresias {
  grid-row-start: 1;
  grid-row-end: 2;
}

.membresias-section {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 30px 0px;
}

.footer-membresias {
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* STYLES */
.membresias-section .membresias-text {
  margin: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.membresias-section .membresias-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.membresias-section .membresias-cards-container .membresia-card {
  background-image: url(../src/assets/img/membresias-bg.png);
  border: 1.71111px;
  box-sizing: border-box;
  border-radius: 21.3889px;
  width: 325.11px;
  height: 385px;
  margin: 60px 20px;
  display: flex;
  flex-direction: column;
}
.membresias-section .membresias-cards-container .membresia-card:hover {
  border: #E75820 solid 2px;
  transition: all 0.3s ease-in;
}
.membresias-section .membresias-cards-container .membresia-card .membresia-name {
  font-family: montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 21px;
  color: #F2F2F2;
  text-transform: uppercase;
  padding: 30px 0px 10px 30px;
  font-display: swap;
}
.membresias-section .membresias-cards-container .membresia-card .price-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 10px 30px;
}
.membresias-section .membresias-cards-container .membresia-card .price-detail .membresia-price {
  font-family: montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 41px;
  line-height: 50px;
  letter-spacing: 0.04em;
  color: #E75820;
  font-display: swap;
}
.membresias-section .membresias-cards-container .membresia-card .price-detail .abono-mensual {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.04em;
  color: #E75820;
  text-transform: uppercase;
  padding-left: 10px;
  font-display: swap;
}
.membresias-section .membresias-cards-container .membresia-card .plan-features {
  margin-bottom: 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  color: #F2F2F2;
  padding-left: 10px;
  font-display: swap;
}
.membresias-section .membresias-cards-container .membresia-card .plan-features .features {
  display: flex;
  flex-direction: row;
  padding: 10px 0px 10px 30px;
}
.membresias-section .membresias-cards-container .membresia-card .plan-features .features .plan-feature {
  margin-bottom: 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 11.9778px;
  line-height: 15px;
  letter-spacing: 0.04em;
  color: #F2F2F2;
  padding-left: 10px;
  font-display: swap;
}
.membresias-section .membresias-cards-container .membresia-card .boton-unirme-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.membresias-section .membresias-cards-container .membresia-card .boton-unirme-div .boton-unirme {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 38px;
  letter-spacing: 0.04em;
  color: #E75820;
  text-transform: uppercase;
  border: 2px solid #E75820;
  border-radius: 8.55556px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  font-display: swap;
}
.membresias-section .membresias-cards-container .membresia-card .boton-unirme-div .boton-unirme:hover {
  background: #E75820;
  border: 2px solid #E75820;
  box-sizing: border-box;
  border-radius: 10px;
  color: #F2F2F2;
}
.membresias-section .membresias-cards-container .membresia-card .boton-unirme-plata {
  padding-top: 82px;
}
.membresias-section .membresias-cards-container .membresia-card .boton-unirme-bronce {
  padding-top: 118px;
}
.membresias-section .membresias-cards-container .membresia-card .boton-unirme-oro {
  padding-top: 10px;
}

/* MEMBRESIAS END*/
/*GENERAL & GRID CONFIG */
.body-contactanos {
  margin: 40px 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}
@media all and (max-width: 576px) {
  .body-contactanos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
@media all and (max-width: 992px) {
  .body-contactanos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.header-contactanos {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.contactanos-section {
  width: fit-content;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
  margin: 80px 20px 80px 80px;
}
@media all and (max-width: 360px) {
  .contactanos-section #contactanos-subtitle {
    text-align: center;
  }
}
@media all and (max-width: 576px) {
  .contactanos-section #contactanos-subtitle {
    text-align: center;
  }
}
@media all and (max-width: 992px) {
  .contactanos-section #contactanos-subtitle {
    text-align: center;
  }
}

.formulario-section {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  margin: 90px;
}

.footer-conocenos {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media all and (max-width: 576px) {
  .footer-conocenos {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media all and (max-width: 992px) {
  .footer-conocenos {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/* ----------- STYLES ---------- */
/* MOTIVOS SECTION */
.contactanos-section .contactanos-div {
  display: flex;
  flex-direction: column;
}
.contactanos-section .motivos-div {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}
.contactanos-section .motivos-div .motivos-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0px;
}
.contactanos-section .motivos-div .motivos-container .motivos {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #F2F2F2;
  padding: 26px 0px 10px 10px;
  font-display: swap;
}
@media all and (max-width: 576px) {
  .contactanos-section .motivos-div .motivos-container .motivos {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #F2F2F2;
    padding: 26px 0px 10px 10px;
    font-display: swap;
  }
}
@media all and (max-width: 992px) {
  .contactanos-section .motivos-div .motivos-container .motivos {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #F2F2F2;
    padding: 26px 0px 10px 10px;
    font-display: swap;
  }
}
@media all and (max-width: 576px) {
  .contactanos-section .motivos-div .motivos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px;
    height: auto;
  }
}
@media all and (max-width: 992px) {
  .contactanos-section .motivos-div .motivos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px;
    height: auto;
  }
}
@media all and (max-width: 576px) {
  .contactanos-section .motivos-div {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }
}
@media all and (max-width: 992px) {
  .contactanos-section .motivos-div {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }
}
@media all and (max-width: 576px) {
  .contactanos-section {
    width: fit-content;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    margin: 80px 80px 0px 80px;
  }
}
@media all and (max-width: 992px) {
  .contactanos-section {
    width: fit-content;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    margin: 80px 80px 0px 80px;
  }
}

.formulario-section .form-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #F2F2F2;
  padding-left: 10px;
  font-display: swap;
}
.formulario-section .container-form .mb-3 .form-label {
  font-family: poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12.4635px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #6F7482;
  font-display: swap;
}
.formulario-section .container-form .contact-button {
  padding-top: 25px;
}
.formulario-section .container-form .contact-button #btn-contact {
  background-color: #E75820;
  border-bottom: none;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14.0214px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #F2F2F2;
  text-transform: capitalize;
  font-display: swap;
}
.formulario-section .container-form .contact-button #btn-contact:hover {
  box-shadow: 0 0 20px #E75820;
  transition: all 0.5s ease-in-out;
}
@media all and (max-width: 576px) {
  .formulario-section {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    margin: 0px 80px 0px 80px;
  }
}
@media all and (max-width: 992px) {
  .formulario-section {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    margin: 0px 80px 80px 90px;
  }
}

#btn-contact {
  text-transform: uppercase;
  font-family: montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #F2F2F2;
  font-display: swap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  background-color: #E75820;
  border-radius: 8px;
  width: 120px;
  height: 36px;
  left: 84px;
  top: 509px;
}
#btn-contact:hover {
  box-shadow: 0 0 45px #E75820;
  color: #F2F2F2;
}
#btn-contact:focus {
  border-bottom: none;
  box-shadow: none;
}
@media all and (max-width: 576px) {
  #btn-contact {
    font-size: 12px;
    margin: 10px 0px;
    background-color: #E75820;
    border-radius: 8px;
    width: 120px;
    height: 36px;
  }
}

/* ----------------------------------- */
/* ------ HOME STARTS ------ */
/* GRID CONFIG */
.home-body .header-home {
  grid-row-start: 1;
  grid-row-end: 2;
}
.home-body .main-section {
  width: 100%;
  height: auto;
  margin-bottom: 6%;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-body .main-section .main-section-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 40px 80px;
}
.home-body .main-section .main-section-text .main-section-title {
  font-family: montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  letter-spacing: 0.02em;
  color: #F2F2F2;
  text-transform: uppercase;
  font-display: swap;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media all and (max-width: 360px) {
  .home-body .main-section .main-section-text .main-section-title {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.02em;
    margin: 0px;
    font-display: swap;
  }
}
@media all and (max-width: 576px) {
  .home-body .main-section .main-section-text .main-section-title {
    font-family: montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #F2F2F2;
    text-transform: uppercase;
    font-display: swap;
  }
}
.home-body .main-section .main-section-text .main-section-subtitle {
  font-family: montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #F2F2F2;
  font-display: swap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}
@media all and (max-width: 360px) {
  .home-body .main-section .main-section-text .main-section-subtitle {
    font-size: 11px;
    font-weight: 300;
    margin: 0px;
  }
}
@media all and (max-width: 576px) {
  .home-body .main-section .main-section-text .main-section-subtitle {
    font-family: montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 10px;
    letter-spacing: 0.02em;
    color: #F2F2F2;
    font-display: swap;
  }
}
.home-body .main-section .main-section-text .main-section-button {
  text-transform: uppercase;
  font-family: montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  font-display: swap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  background-color: #E75820;
  border-radius: 8px;
  width: 180px;
  height: 45px;
  left: 84px;
  top: 509px;
}
.home-body .main-section .main-section-text .main-section-button:hover {
  box-shadow: 0 0 45px #E75820;
  border: 2px solid #F2F2F2;
  color: #F2F2F2;
}
@media all and (max-width: 576px) {
  .home-body .main-section .main-section-text .main-section-button {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    background-color: #E75820;
    border-radius: 8px;
    width: 140px;
    height: 36px;
    left: 84px;
    top: 509px;
  }
}
@media all and (max-width: 360px) {
  .home-body .main-section .main-section-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 1px 20px;
  }
}
@media all and (max-width: 576px) {
  .home-body .main-section .main-section-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 10px 40px;
  }
}
.home-body .cards.benefits {
  grid-row-start: 3;
  grid-row-end: 4;
}
.home-body .footer-home {
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  width: 100%;
  height: auto;
  margin: 0px 0px;
  flex-direction: column;
}
@media all and (max-width: 360px) {
  .home-body {
    background-image: url("../src/assets/img/home-bg-sm.png");
    width: fit-content;
    background-repeat: no-repeat;
    margin: 20px 0px 0px 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
@media all and (max-width: 576px) {
  .home-body {
    background-image: url("../src/assets/img/home-bg-sm.png");
    width: fit-content;
    background-repeat: no-repeat;
    margin: 40px 0px 0px 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

/* STYLES FOR BENEFITS SECTION  */
.features-text {
  font-family: poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #333333;
  font-display: swap;
  margin-right: 10px;
  margin-left: 10px;
}

.ft-text {
  padding-top: 40px;
}

/*# sourceMappingURL=style.css.map */
