<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>HERMES gym & yoga</title>
    <link rel="shortcut icon" href="../assets/img/favicon.png">
</head>

<body class="body-container-actividades">
    
    <!-- COMIENZO DE HEADER -->
    <header class="header-conocenos">

        <nav class="header-nav header-nav-actividades">

            <div class="header-menu-logo">
                <a class="header-logo" href="../../index.html">
                    <img src="../assets/img/logo-and-name.png" alt="Logo de Hermes gym & yoga">
                </a>
            </div>

            <div class="header-menu-div header-div-conocenos">
                <ul class="header-menu">
                    <li class="header-menu-item item-conocenos item-1"> <a class="menu-nav-item" href="./conocenos.html">Conocenos</a> </li>
                    <li class="header-menu-item item-conocenos item-2"> <a class="menu-nav-item" href="./actividades.html">Actividades</a> </li>
                    <li class="header-menu-item item-conocenos item-3"> <a class="menu-nav-item" href="./membresias.html">Membresias</a> </li>
                    <li class="header-menu-item item-conocenos item-4"> <a class="menu-nav-item" href="./contactanos.html">Contactanos</a> </li>
                </ul>
            </div>

        </nav>
    </header>
    <!-- FIN DE HEADER -->

    <section class="actividades-section">

        <div class="actividades-title">
            <h1 class="nuestras-actividades-title">Nuestras <span class="orange-text" >actividades</span></h1>
            <h2 class="nuestras-actividades-subtitle">Podés elegir y combinar diferentes actividades para llevar a cabo un plan de entramiento a tu medida</h2>
        </div>

        <div class="actividades-first-row">
            <div class="musculacion">
                <img class="actividad-icon" src="../assets/svg/barbell.svg" alt="ícono de mancuerna">
                <h3 class="actividad-name" id="musculacion"> Musculacion </h3>
                <p class="actividad-text"> La musculación es una actividad orientada a la tonificación y desarrollo muscular, mediante el uso de máquinas y pesas.</p>
                <a class="mas-info-link" href="./contactanos.html"> +info</a>
            </div>
            
            <div class="funcional">
                <img class="actividad-icon" src="../assets/svg/kettlebell.svg" alt="ícono de pesa rusa">
                <h3 class="actividad-name" id="funcional"> Funcional </h3>
                <p class="actividad-text"> Se trata de una forma de actividad física que, basándose en ejercicios cortos y de gran intensidad, permite generar un alto gasto calórico en poco tiempo.</p>
                <a class="mas-info-link" href="./contactanos.html"> +info</a>
            </div>
    
            <div class="spinning">
                <img class="actividad-icon" src="../assets/svg//spinning-bike.svg" alt="ícono de bicileta de spinning">
                <h3 class="actividad-name" id="spinning"> Spinning </h3>
                <p class="actividad-text"> Es un ejercicio aeróbico y cardiovascular que se realiza sobre una bicicleta estática. Su finalidad principal es perder peso y tonificar los músculos, además de mejorar la fuerza y la resistencia. </p>
                <a class="mas-info-link" href="./contactanos.html"> +info</a>
            </div>
        </div>

        <div class="actividades-second-row">
            <div class="running">
                <img class="actividad-icon" src="../assets/svg/running.svg" alt="ícono de zapatilla deportiva">
                <h3 class="actividad-name" id="running"> Running </h3>
                <p class="actividad-text"> Programas de entrenamiento pensado para que los corredores puedan reforzar su cuerpo, prevenir lesiones y mejorar su rendimiento</p>
                <a class="mas-info-link" href="./contactanos.html"> +info</a>
            </div>
    
            <div class="personalizado">
                <img class="actividad-icon" src="../assets/svg/user.svg" alt="ícono de usuario">
                <h3 class="actividad-name" id="personalizado"> Personalizado </h3>
                <p class="actividad-text"> El entrenamiento personalizado es ese plan de actividad física que se ajusta a tus necesidades, objetivos y condición personal. </p>
                <a class="mas-info-link" href="./contactanos.html"> +info</a>
            </div>
    
            <div class="yoga">
                <img class="actividad-icon" src="../assets/svg/yoga.svg" alt="ícono de persona haciendo yoga">
                <h3 class="actividad-name" id="yoga"> Yoga </h3>
                <p class="actividad-text"> El yoga es una práctica que conecta el cuerpo, la respiración y la mente. Esta práctica utiliza posturas físicas, ejercicios de respiración y meditación para mejorar la salud general.</p>
                <a class="mas-info-link" href="./contactanos.html"> +info</a>
            </div>
        </div>

        <div class="fab-whatsapp">
            <a href="https://wa.me/5492213055086?text=Hola!%20Quisiera%20más%20información%20sobre%20las%20actividades" target="_blank">
                <img class="fab-whatsapp" src="../assets/svg/fab-whatsapp.svg" alt="Botón flotante de Whatsapp">
            </a>
        </div>

    </section>

    <!-- COMIENZO DE FOOTER-->
    <footer class="footer-conocenos">

        <div class="footer-div">
            <div class="footer-section-logo">
                <img class="footer-logo" src="../assets/svg/logo-footer.svg" alt="logo de Hermes gym & yoga">  
            </div>
        

            <nav class="footer-menu-nav"> 
                <ul class="footer-menu-list">
                    <li class="footer-menu-list-item"><a href="../../index.html">Home</a></li>
                     <li class="footer-menu-list-item"><a href="conocenos.html">Conocenos</a></li>
                    <li class="footer-menu-list-item"><a href="actividades.html">Actividades</a></li>
                    <li class="footer-menu-list-item"><a href="membresias.html">Membresias</a></li>
                    <li class="footer-menu-list-item"><a href="contactanos.html">Contactanos</a></li>
                 </ul>
            </nav>


            <div class="footer-info">

                <div class="footer-info-time">
                    <img class="footer-icon-time" src="../assets/svg/time.svg" alt="ícono de reloj"> 
                    <span class="footer-time-text"> Lun. a Vie. 7 a 22hs. y Sáb. 8 a 20hs. </span>   
                </div>            

                 <div class="footer-info-location">
                    <img class="footer-icon-location" src="../assets/svg/location.svg" alt="ícono de locación"> 
                    <span class="footer-location-text"> 
                        <a class="footer-location-text" href="https://goo.gl/maps/gBHrJ4iWajcpceae8" target="_blank"> Calle AA N° 123 - La Plata </a>
                    </span>   
                </div>

                <div class="footer-info-email">
                    <img class="footer-icon-email" src="../assets/svg/email.svg" alt="ícono de correo electrónico"> 
                    <span class="footer-email-text"> 
                        <a class="footer-email-text" href="mailto:info@hermesgym.com.ar?cc=admin@hermesgym.com.ar?subject=Información?body=Hola!%0D%0ALes%20solicito20%información%20sobre%20las%20clases%20de...">info@hermesgym.com</a> 
                    </span>
                 </div>
        

            </div>

            <div class="footer-social-media">

                <p class="footer-follow-us"> Seguinos en </p>
                <div class="rrss-icons">
                    <a class="footer-instagram-link" href="https://www.instagram.com/" target="_blank">
                        <img class="footer-instagram-icon" src="../assets/svg/instagram.svg" alt="ícono de Instagram"> 
                    </a> 
                    <a class="footer-facebook-link" href="https://www.facebook.com/" target="_blank">
                        <img class="footer-facebook-icon" src="../assets/svg/facebook.svg" alt="ícono de Facebook">    
                    </a>
                </div>
                
            </div>

        </div>

        <div class="copyright">
            <p class="copyright-text"> Coypright - Martina Pereyra Web Design & Development</p>
        </div>
    
    </footer>
    <!-- FIN DE FOOTER-->

    
    

</body>
</html>