<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>HERMES gym & yoga</title>
    <link rel="shortcut icon" href="../assets/img/favicon.png">
</head>


<body class="body-container-conocenos">
    
    <!-- COMIENZO DE HEADER -->
    <header class="header-conocenos">

        <nav class="header-nav header-nav-conocenos">

            <div class="header-menu-logo">
                <a class="header-logo" href="../../index.html">
                    <img src="../assets/img/logo-and-name.png" alt="Logo de Hermes gym & yoga">
                </a>
            </div>
            
            <div class="header-menu-div header-div-conocenos">
                <ul class="header-menu">
                    <li class="header-menu-item item-conocenos item-1"> <a class="menu-nav-item" href="./conocenos.html">Conocenos</a> </li>
                    <li class="header-menu-item item-conocenos item-2"> <a class="menu-nav-item" href="./actividades.html">Actividades</a> </li>
                    <li class="header-menu-item item-conocenos item-3"> <a class="menu-nav-item" href="./membresias.html">Membresias</a> </li>
                    <li class="header-menu-item item-conocenos item-4"> <a class="menu-nav-item" href="./contactanos.html">Contactanos</a> </li>
                </ul>
            </div>

        </nav>
    </header>
    <!-- FIN DE HEADER -->

    
    <section class="nuestro-equipo-section">

        <div class="conocenos-title">
            <h1 class="nuestro-equipo-title"> Nuestro <span class="orange-text" > equipo</span> </h1>
            <h2 class="nuestro-equipo-subtitle"> Nuestro equipo está formado por profesionales altamente cualificados para acompañarte y potenciar desarrollo físico cuidando tu salud.</h2>
        </div>
        
        <div class="profes-first-row">
            <div class="profe-picture-first-row profe-foto" id="profe-agus">
                <img class="profe-picture" src="../assets/img/profe-musculacion.png" alt="Agus profe de musculación y personalizado">
                <h3 class="profe-name">Agus</h3> 
                <h4 class="profe-class">Musculación y personalizado</h4>
            </div>
            
            <div class="profe-picture-first-row profe-foto" id="profe-flor"> 
                <img class="profe-picture" src="../assets/img/profe-funcional.png" alt="Flor profe de funcional">
                <h3 class="profe-name">Flor</h3> 
                <h4 class="profe-class">Funcional</h4>
            </div>
    
            <div class="profe-picture-first-row profe-foto"  id="profe-ingrid"> 
                <img  class="profe-picture" src="../assets/img/profe-spinning.png" alt="Ingrid profe de spinning y funcional">
                <h3 class="profe-name">Ingrid</h3> 
                <h4 class="profe-class">Spinning y funcional</h4>
            </div>

        </div>

        <div class="profes-second-row">
            <div class="profe-picture-second-row profe-foto" id="profe-facu"> 
                <img class="profe-picture" src="../assets/img/profe-running.png" alt="Facu profe de running y personalizado">
                <h3 class="profe-name">Facu</h3> 
                <h4 class="profe-class">Running y personalizado</h4>
            </div>
    
            <div class="profe-picture-second-row profe-foto" id="profe-gaston"> 
                <img class="profe-picture" src="../assets/img/profe-personalizado.png" alt="Gastón profe de personalizado y musculación">
                <h3 class="profe-name">Gaston</h3> 
                <h4 class="profe-class">Personalizado y musculación</h4>
            </div>
            
            <div class="profe-picture-second-row profe-foto" id="profe-lucas"> 
                <img class="profe-picture" src="../assets/img/profe-yoga.png" alt="Lucas profe de Yoga">
                <h3 class="profe-name">Lucas</h3> 
                <h4 class="profe-class">Yoga</h4>
            </div>
        </div>

        <div class="fab-whatsapp">
            <a href="https://wa.me/5492213055086?text=Hola!%20Quisiera%20más%20información%20sobre%20las%20actividades" target="_blank">
                <img class="fab-whatsapp" src="../assets/svg/fab-whatsapp.svg" alt="Botón flotante de Whatsapp">
            </a>
        </div>
    </section>
        
    <!-- COMIENZO DE FOOTER-->
    <footer class="footer-conocenos">

        <div class="footer-div">
            <div class="footer-section-logo">
                <img class="footer-logo" src="../assets/svg/logo-footer.svg" alt="logo de Hermes gym & yoga">  
            </div>
    
            
            <nav class="footer-menu-nav"> 
                <ul class="footer-menu-list">
                    <li class="footer-menu-list-item"><a href="../../index.html">Home</a></li>
                    <li class="footer-menu-list-item"><a href="conocenos.html">Conocenos</a></li>
                    <li class="footer-menu-list-item"><a href="actividades.html">Actividades</a></li>
                    <li class="footer-menu-list-item"><a href="membresias.html">Membresias</a></li>
                    <li class="footer-menu-list-item"><a href="contactanos.html">Contactanos</a></li>
                </ul>
            </nav>

            <div class="footer-info">

                <div class="footer-info-time">
                    <img class="footer-icon-time" src="../assets/svg/time.svg" alt="ícono de reloj"> 
                    <span class="footer-time-text"> Lun. a Vie. 7 a 22hs. y Sáb. 8 a 20hs. </span>   
                </div>            
    
                <div class="footer-info-location">
                    <img class="footer-icon-location" src="../assets/svg/location.svg" alt="ícono de locación"> 
                    <span class="footer-location-text"> 
                        <a class="footer-location-text" href="https://goo.gl/maps/gBHrJ4iWajcpceae8" target="_blank"> Calle AA N° 123 - La Plata </a>
                    </span>   
                </div>
    
                <div class="footer-info-email">
                    <img class="footer-icon-email" src="../assets/svg/email.svg" alt="ícono de correo electrónico"> 
                    <span class="footer-email-text"> 
                        <a class="footer-email-text" href="mailto:info@hermesgym.com.ar?cc=admin@hermesgym.com.ar?subject=Información?body=Hola!%0D%0ALes%20solicito20%información%20sobre%20las%20clases%20de...">info@hermesgym.com</a> 
                    </span>
                </div>

            </div>
    
            <div class="footer-social-media">

                <p class="footer-follow-us"> Seguinos en </p>
               
                <div class="rrss-icons">
                    <a class="footer-instagram-link" href="https://www.instagram.com/" target="_blank">
                        <img class="footer-instagram-icon" src="../assets/svg/instagram.svg" alt="ícono de Instagram"> 
                    </a> 
    
                    <a class="footer-facebook-link" href="https://www.facebook.com/" target="_blank">
                        <img class="footer-facebook-icon" src="../assets/svg/facebook.svg" alt="ícono de Facebook">    
                    </a>
                </div>
    
            </div>



        </div>   

        <div class="copyright">
            <p class="copyright-text"> Coypright - Martina Pereyra Web Design & Development</p>
        </div>  
    </footer>
    <!-- FIN DE FOOTER-->

</body>
</html>