<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>HERMES gym & yoga</title>
    <link rel="shortcut icon" href="../assets/img/favicon.png">
</head>


<body class="views-body body-contactanos">

    <!-- COMIENZO DE HEADER -->
    <header class="header header-contactanos">
        
        <nav class="header-nav">

            <div class="header-logo.container">
                <a class="logo" href="../../index.html">
                    <img src="../assets/img/logo-and-name.png" alt="Logo de Hermes gym & yoga">
                </a>
            </div>

            <div class="header-menu-container">
                <ul class="menu-list">
                    <li class="menu-item"> <a class="menu-item" href="./conocenos.html">Conocenos</a> </li>
                    <li class="menu-item"> <a class="menu-item" href="./actividades.html">Actividades</a> </li>
                    <li class="menu-item"> <a class="menu-item" href="./membresias.html">Membresias</a> </li>
                    <li class="menu-item"> <a class="menu-item" href="./contactanos.html">Contactanos</a> </li>
                </ul>
            </div>

        </nav>
    </header>
    <!-- FIN DE HEADER -->

    <div class="fab">
        <a href="https://wa.me/5492213055086?text=Hola!%20Quisiera%20más%20información%20sobre%20las%20actividades" target="_blank">
            <img src="../assets/svg/fab-whatsapp.svg" alt="Botón flotante de Whatsapp">
        </a>
    </div>
    
    <section class="contactanos-section">
        <div class="contactanos-div">
            <h1 class="contactanos-title">¿Por qué <span class="orange-text" > unirte</span>?</h1>
            <p class="contactanos-subtitle">La actividad física tiene importantes beneficios para la salud del corazón, el cuerpo y la mente, por eso nuestra misión es posibilitar el acceso a la actividad fìsica de calidad para ayudarte a alcanzar tus objetivos individuales en un ambiente agradable. </p>
        </div>

        <div class="motivos-div">

            <div class="motivos-container">
                <img src="../assets/svg/check.svg" alt="ícono de verificación">
                <p class="motivos"> Profesores altamente cualificados para acompañarte </p>
            </div>

            <div class="motivos-container">
                <img src="../assets/svg/check.svg" alt="ícono de verificación">
               <p class="motivos">Gran variedad de actividades y horarios</p>
            </div>

            <div class="motivos-container">
                <img src="../assets/svg/check.svg" alt="ícono de verificación">
                <p class="motivos">Precios accesibles</p>
            </div>

            <div class="motivos-container">
                <img src="../assets/svg/check.svg" alt="ícono de verificación">
                <p class="motivos">Equipamiento de calidad</p>
            </div>
            
        </div>
                   
    </section>

    <section class="formulario-section">
        <h2 class="form-title">Dejanos tu consulta</h2>
        <form action=""></form>
    </section>

    <!-- COMIENZO DE FOOTER-->
    <footer class="footer-conocenos">

        <div class="footer-div">
            <div class="footer-section-logo">
                <img class="footer-logo" src="../assets/svg/logo-footer.svg" alt="logo de Hermes gym & yoga">  
            </div>
    
            
            <nav class="footer-menu-nav"> 
                <ul class="footer-menu-list">
                    <li class="footer-menu-list-item"><a href="../../index.html">Home</a></li>
                    <li class="footer-menu-list-item"><a href="conocenos.html">Conocenos</a></li>
                    <li class="footer-menu-list-item"><a href="actividades.html">Actividades</a></li>
                    <li class="footer-menu-list-item"><a href="membresias.html">Membresias</a></li>
                    <li class="footer-menu-list-item"><a href="contactanos.html">Contactanos</a></li>
                </ul>
            </nav>

            <div class="footer-info">

                <div class="footer-info-time">
                    <img class="footer-icon-time" src="../assets/svg/time.svg" alt="ícono de reloj"> 
                    <span class="footer-time-text"> Lun. a Vie. 7 a 22hs. y Sáb. 8 a 20hs. </span>   
                </div>            
    
                <div class="footer-info-location">
                    <img class="footer-icon-location" src="../assets/svg/location.svg" alt="ícono de locación"> 
                    <span class="footer-location-text"> 
                        <a class="footer-location-text" href="https://goo.gl/maps/gBHrJ4iWajcpceae8" target="_blank"> Calle AA N° 123 - La Plata </a>
                    </span>   
                </div>
    
                <div class="footer-info-email">
                    <img class="footer-icon-email" src="../assets/svg/email.svg" alt="ícono de correo electrónico"> 
                    <span class="footer-email-text"> 
                        <a class="footer-email-text" href="mailto:info@hermesgym.com.ar?cc=admin@hermesgym.com.ar?subject=Información?body=Hola!%0D%0ALes%20solicito20%información%20sobre%20las%20clases%20de...">info@hermesgym.com</a> 
                    </span>
                </div>

            </div>
    
            <div class="footer-social-media">

                <p class="footer-follow-us"> Seguinos en </p>
               
                <div class="rrss-icons">
                    <a class="footer-instagram-link" href="https://www.instagram.com/" target="_blank">
                        <img class="footer-instagram-icon" src="../assets/svg/instagram.svg" alt="ícono de Instagram"> 
                    </a> 
    
                    <a class="footer-facebook-link" href="https://www.facebook.com/" target="_blank">
                        <img class="footer-facebook-icon" src="../assets/svg/facebook.svg" alt="ícono de Facebook">    
                    </a>
                </div>
    
            </div>

        </div>   

        <div class="copyright">
            <p class="copyright-text"> Coypright - Martina Pereyra Web Design & Development</p>
        </div>  
    </footer>
    <!-- FIN DE FOOTER-->

</body>
</html>