<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>HERMES gym & yoga</title>
    <link rel="shortcut icon" href="../assets/img/favicon.png">
</head>


<body class="views-body body-membresias">

    <!-- HEADER START -->
    <header class="header header-membresias">

        <nav class="header-nav">

            <div class="header-logo-container">
                <a class="logo" href="../../index.html">
                    <img src="../assets/img/logo-and-name.png" alt="Logo de Hermes gym & yoga">
                </a>
            </div>

            <div class="header-menu-container">
                <ul class="menu-list">
                    <li class="menu-item"> <a class="menu-item" href="./conocenos.html">Conocenos</a> </li>
                    <li class="menu-item"> <a class="menu-item" href="./actividades.html">Actividades</a> </li>
                    <li class="menu-item"> <a class="menu-item" href="./membresias.html">Membresias</a> </li>
                    <li class="menu-item"> <a class="menu-item" href="./contactanos.html">Contactanos</a> </li>
                </ul>
            </div>

        </nav>
    </header>
    <!-- HEADER END-->

   <div class="fab">
    <a href="https://wa.me/5492213055086?text=Hola!%20Quisiera%20más%20información%20sobre%20las%20actividades" target="_blank">
        <img src="../assets/svg/fab-whatsapp.svg" alt="Botón flotante de Whatsapp">
    </a>
    </div>

    <!-- MEMBRESIAS SECTION START -->
    <section class="membresias-section">

        <div class="membresias-text">
            <h1 class="membresias-title"> Membresias </h1>
            <h2 class="membresias-subtitle"> Creemos que todas las personas deben tener acceso a realizar actividad física, por eso tenemos 3 diferentes planes de entramiento 
            </h2>
        </div>
    
        <div class="membresias-cards-container">

            <div class="membresia-card membresia-bronce">

                <h3 class="membresia-name" id="bronce-title">Bronce</h3>
                <div class="price-detail">
                    <h3 class="membresia-price" id="bronce-price">$2499</h3>
                    <span class="abono-mensual">Abono <br> Mensual</span>
                </div>
                                <ul class="membresia-list">
                    <li class="membresia-caracteristica"> 1 actividad a elección </li>
                    <li class="membresia-caracteristica"> 2 veces por semana</li>
                </ul>
                <div class="boton-unirme-div boton-unirme-bronce">
                    <a class="boton-unirme" href="./contactanos.html"> Unirme</a>
                </div>
                
            </div>
    
            <div class="membresia-card membresia-plata">
                <h3 class="membresia-name" id="plata-title">Plata</h3>
                <div class="price-detail">
                    <h3 class="membresia-price" id="plata-price">$3299</h3> 
                    <span class="abono-mensual">Abono <br> Mensual</span>
                </div>

                
                <ul class="membresia-list">
                    <li class="membresia-caracteristica"> 2 actividades a elección </li>
                    <li class="membresia-caracteristica"> 3 veces por semana </li>
                    <li class="membresia-caracteristica"> 1 sesión mensual de masaje </li>
                </ul>
                <div class="boton-unirme-div boton-unirme-plata">
                    <a class="boton-unirme" href="./contactanos.html"> Unirme</a>
                </div>
            </div>
    
            <div class="membresia-card membresia-oro">
                <h3 class="membresia-name" id="oro-title">Oro</h3>
                <div class="price-detail">
                    <h3 class="membresia-price" id="oro-price">$4999</h3>
                    <span class="abono-mensual">Abono <br> Mensual</span>
                </div>
                
                <ul class="membresia-list">
                    <li class="membresia-caracteristica"> 1 actividad a elección </li>
                    <li class="membresia-caracteristica"> Pase semanal libre </li>
                    <li class="membresia-caracteristica"> 2 sesiones mensuales de masaje</li>
                    <li class="membresia-caracteristica"> 1 bebida isotónica semanal sin cargo</li>
                    <li class="membresia-caracteristica"> 10% OFF en merchandising HERMES</li>
                </ul>
                <div class="boton-unirme-div boton-unirme-oro ">
                    <a class="boton-unirme" href="./contactanos.html"> Unirme</a>
                </div>
                
            </div>
    
        </div>

    </section>
    
    

    <!-- COMIENZO DE FOOTER-->
    <footer class="footer-conocenos footer-membresias">

        <div class="footer-div">
            <div class="footer-section-logo">
                <img class="footer-logo" src="../assets/svg/logo-footer.svg" alt="logo de Hermes gym & yoga">  
            </div>
    
            
            <nav class="footer-menu-nav"> 
                <ul class="footer-menu-list">
                    <li class="footer-menu-list-item"><a href="../../index.html">Home</a></li>
                    <li class="footer-menu-list-item"><a href="conocenos.html">Conocenos</a></li>
                    <li class="footer-menu-list-item"><a href="actividades.html">Actividades</a></li>
                    <li class="footer-menu-list-item"><a href="membresias.html">Membresias</a></li>
                    <li class="footer-menu-list-item"><a href="contactanos.html">Contactanos</a></li>
                </ul>
            </nav>

            <div class="footer-info">

                <div class="footer-info-time">
                    <img class="footer-icon-time" src="../assets/svg/time.svg" alt="ícono de reloj"> 
                    <span class="footer-time-text"> Lun. a Vie. 7 a 22hs. y Sáb. 8 a 20hs. </span>   
                </div>            
    
                <div class="footer-info-location">
                    <img class="footer-icon-location" src="../assets/svg/location.svg" alt="ícono de locación"> 
                    <span class="footer-location-text"> 
                        <a class="footer-location-text" href="https://goo.gl/maps/gBHrJ4iWajcpceae8" target="_blank"> Calle AA N° 123 - La Plata </a>
                    </span>   
                </div>
    
                <div class="footer-info-email">
                    <img class="footer-icon-email" src="../assets/svg/email.svg" alt="ícono de correo electrónico"> 
                    <span class="footer-email-text"> 
                        <a class="footer-email-text" href="mailto:info@hermesgym.com.ar?cc=admin@hermesgym.com.ar?subject=Información?body=Hola!%0D%0ALes%20solicito20%información%20sobre%20las%20clases%20de...">info@hermesgym.com</a> 
                    </span>
                </div>

            </div>
    
            <div class="footer-social-media">

                <p class="footer-follow-us"> Seguinos en </p>
               
                <div class="rrss-icons">
                    <a class="footer-instagram-link" href="https://www.instagram.com/" target="_blank">
                        <img class="footer-instagram-icon" src="../assets/svg/instagram.svg" alt="ícono de Instagram"> 
                    </a> 
    
                    <a class="footer-facebook-link" href="https://www.facebook.com/" target="_blank">
                        <img class="footer-facebook-icon" src="../assets/svg/facebook.svg" alt="ícono de Facebook">    
                    </a>
                </div>
    
            </div>



        </div>   

        <div class="copyright">
            <p class="copyright-text"> Coypright - Martina Pereyra Web Design & Development</p>
        </div>  

    </footer>
    <!-- FIN DE FOOTER-->

</body>
</html>