<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/style.css">
    <title>HERMES gym & yoga</title>
    <link rel="shortcut icon" href="../assets/img/favicon.png">
</head>


<body class="views-body body-membresias">

    <header class="header header-membresias">
        <!-- NAVBAR BOOTSTRAP START-->
        <nav class="navbar navbar-expand-lg navbar-dark">
            
            <div class="container">
                
                <a class="navbar-brand" href="../../index.html"> <img class="logo" src="../assets/img/logo-and-name.png" alt="Logo de Hermes gym & yoga"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link aria-current="page" id="link-one" href="./conocenos.html">Conocenos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="link-two" href="./actividades.html">Actividades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="link-three" href="./membresias.html">Membresias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="link-four" href="./contactanos.html">Contactanos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- NAVBAR END -->
    </header>
 
   <div class="fab">
    <a href="https://wa.me/5492213055086?text=Hola!%20Quisiera%20más%20información%20sobre%20las%20actividades" target="_blank">
        <img src="../assets/svg/fab-whatsapp.svg" alt="Botón flotante de Whatsapp">
    </a>
    </div>

    <!-- MEMBRESIAS SECTION START -->
    <section class="membresias-section">

        <div class="membresias-text">
            <h1 class="membresias-title titles"> Membresias </h1>
            <h2 class="membresias-subtitle subtitles"> Creemos que todas las personas deben tener acceso a realizar actividad física, por eso tenemos 3 diferentes planes de entramiento 
            </h2>
        </div>
    
        <div class="membresias-cards-container">

            <div class="membresia-card membresia-bronce">

                <h3 class="membresia-name" id="bronce-title">Bronce</h3>

                <div class="price-detail">
                    <h3 class="membresia-price" id="bronce-price">$2499</h3>
                    <span class="abono-mensual">Abono <br> Mensual</span>
                </div>

                <div class="plan-features">
                    <div class="features">
                        <img src="../assets/svg/check-icon-white-sm.svg" alt="ícono de verificación">
                        <p class="plan-feature"> 1 actividad a elección </p>
                    </div>
                    <div class="features">
                        <img src="../assets/svg/check-icon-white-sm.svg" alt="ícono de verificación">
                        <p class="plan-feature"> 2 veces por semana</p>
                    </div>
                </div>
                
                <div class="boton-unirme-div boton-unirme-bronce">
                    <a class="boton-unirme" href="./contactanos.html"> Unirme</a>
                </div>
                
            </div>
    
            <div class="membresia-card membresia-plata">

                <h3 class="membresia-name" id="plata-title">Plata</h3>

                <div class="price-detail">
                    <h3 class="membresia-price" id="plata-price">$3299</h3> 
                    <span class="abono-mensual">Abono <br> Mensual</span>
                </div>

                <div class="plan-features">

                    <div class="features">
                        <img src="../assets/svg/check-icon-white-sm.svg" alt="ícono de verificación">
                        <p class="plan-feature"> 2 actividades a elección </p>
                    </div>

                    <div class="features">
                        <img src="../assets/svg/check-icon-white-sm.svg" alt="ícono de verificación">
                        <p class="plan-feature"> 3 veces por semana</p>
                    </div>

                    <div class="features">
                        <img src="../assets/svg/check-icon-white-sm.svg" alt="ícono de verificación">
                        <p class="plan-feature"> 1 sesión mensual de masajes </p>
                    </div>

                </div>
                
                <div class="boton-unirme-div boton-unirme-plata">
                    <a class="boton-unirme" href="./contactanos.html"> Unirme</a>
                </div>

            </div>
    
            <div class="membresia-card membresia-oro">
                <h3 class="membresia-name" id="oro-title">Oro</h3>

                <div class="price-detail">
                    <h3 class="membresia-price" id="oro-price">$4999</h3>
                    <span class="abono-mensual">Abono <br> Mensual</span>

                </div>

                <div class="plan-features">

                    <div class="features">
                        <img src="../assets/svg/check-icon-white-sm.svg" alt="ícono de verificación">
                        <p class="plan-feature"> 1 actividad a elección </p>
                    </div>

                    <div class="features">
                        <img src="../assets/svg/check-icon-white-sm.svg" alt="ícono de verificación">
                        <p class="plan-feature"> Pase semanal libre </p>
                    </div>

                    <div class="features">
                        <img src="../assets/svg/check-icon-white-sm.svg" alt="ícono de verificación">
                        <p class="plan-feature"> 2 sesiones mensuales de masajes </p>
                    </div>

                    <div class="features">
                        <img src="../assets/svg/check-icon-white-sm.svg" alt="ícono de verificación">
                        <p class="plan-feature"> 1 bebida isotónica semanal sin cargo </p>
                    </div>

                    <div class="features">
                        <img src="../assets/svg/check-icon-white-sm.svg" alt="ícono de verificación">
                        <p class="plan-feature"> 10% OFF en merchandising HERMES </p>
                    </div>

                </div>
                 
                <div class="boton-unirme-div boton-unirme-oro ">
                    <a class="boton-unirme" href="./contactanos.html"> Unirme</a>
                </div> 
             
            </div>
    
        </div>

    </section>
    
    
    <!-- COMIENZO DE FOOTER-->
    <footer class="footer-conocenos footer-membresias">

        <div class="footer-div">

            <div class="footer-section-logo">
                <img class="footer-logo" src="../assets/svg/logo-footer.svg" alt="logo de Hermes gym & yoga">  
            </div>
    
            <nav class="footer-menu-nav footer-containers"> 

                <div class="footer-menu-list">
                    <a href="../../index.html" id="link-footer-one">Home</a></li>
                    <a href="conocenos.html" id="link-footer-two">Conocenos</a></li>
                    <a href="actividades.html" id="link-footer-three">Actividades</a></li>
                    <a href="membresias.html" id="link-footer-four">Membresias</a></li>
                    <a href="contactanos.html" id="link-footer-five">Contactanos</a></li>
                </div> 

            </nav>

            <div class="footer-info-container footer-containers">

                <div class="footer-info">
                    <img class="footer-icon-time" src="../assets/svg/time.svg" alt="ícono de reloj"> 
                    <span class="footer-text ms-auto"> Lun. a Vie. 7 a 22hs. y Sáb. 8 a 20hs. </span>   
                </div>            
    
                <div class="footer-info">
                    <img class="footer-icon-location" src="../assets/svg/location.svg" alt="ícono de locación"> 
                    <span class="footer-text ms-auto"> 
                        <a class="footer-text ms-auto" id="location-link" href="https://goo.gl/maps/gBHrJ4iWajcpceae8" target="_blank"> Calle AA N° 123 - La Plata </a>
                    </span>   
                </div>
    
                <div class="footer-info">
                    <img class="footer-icon-email" src="../assets/svg/email.svg" alt="ícono de correo electrónico"> 
                    <span class="footer-text footer-email-text ms-auto"> 
                        <a class="footer-text footer-email-text ms-auto" id="mail-link" href="mailto:info@hermesgym.com.ar?cc=admin@hermesgym.com.ar?subject=Información?body=Hola!%0D%0ALes%20solicito20%información%20sobre%20las%20clases%20de...">info@hermesgym.com</a> 
                    </span>
                </div>

            </div>
    
            <div class="footer-social-media footer-containers">

                <p class="footer-text footer-follow-us" id="follow-us"> Seguinos en </p>
               
                <div class="rrss-icons">
                    <a class="footer-instagram-link" href="https://www.instagram.com/" target="_blank">
                        <img class="footer-icon" src="../assets/svg/instagram.svg" alt="ícono de Instagram"> 
                    </a> 
    
                    <a class="footer-facebook-link" href="https://www.facebook.com/" target="_blank">
                        <img class="footer-icon" src="../assets/svg/facebook.svg" alt="ícono de Facebook">    
                    </a>
                </div>
    
            </div>

        </div>   

        <div class="copyright footer-containers">
            <p class="copyright-text"> Coypright - Martina Pereyra Web Design & Development</p>
        </div>  

    </footer>
    <!-- FIN DE FOOTER-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>