/*GENERAL & GRID CONFIG */ 
.body-contactanos {
    margin: 40px 0px 0px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 20px;
    grid-row-gap: 0px;

    @media all and (max-width: $sm) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    @media all and (max-width: 992px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}

.header-contactanos {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.contactanos-section {
    width: fit-content;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    margin: 80px 20px 80px 80px;

    #contactanos-subtitle {

        @media all and (max-width: $mobile) {
            text-align: center;
        }

        @media all and (max-width: $sm) {
            text-align: center;
        }
    
        @media all and (max-width: 992px) {
            text-align: center;
        }
    }
}

.formulario-section {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    margin: 90px;
}

.footer-conocenos {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media all and (max-width: $sm) {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    @media all and (max-width: 992px) {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    
}

/* ----------- STYLES ---------- */ 

/* MOTIVOS SECTION */ 


.contactanos-section {

    .contactanos-div {
        display: flex;
        flex-direction: column;
    }

    .motivos-div {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        padding-left: 40px;

        .motivos-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 10px 0px;

            .motivos {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 16px;
                color: nth($color, 2);
                padding: 26px 0px 10px 10px;
                font-display: swap;
               
                @media all and (max-width: $sm) {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 16px;
                    color: nth($color,2);
                    padding: 26px 0px 10px 10px;
                    font-display: swap;
                }

                @media all and (max-width: 992px) {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 16px;
                    color: nth($color,2);
                    padding: 26px 0px 10px 10px;
                    font-display: swap;
                }
            }

            @media all and (max-width: $sm) {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 10px 0px;
                height: auto;
            }

            @media all and (max-width: 992px) {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 10px 0px;
                height: auto;
            }
        }

        @media all and (max-width: $sm) {
            display: flex;
            flex-direction: column;
            padding-left: 20px;
        }

        @media all and (max-width: 992px) {
            display: flex;
            flex-direction: column;
            padding-left: 20px;
        }
    }

    @media all and (max-width: $sm) {
        width: fit-content;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        flex-direction: column;
        margin: 80px 80px 0px 80px;
    }

    @media all and (max-width: 992px) {
        width: fit-content;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        flex-direction: column;
        margin: 80px 80px 0px 80px;
    }
}

.formulario-section {

    .form-title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #F2F2F2;
        padding-left: 10px;
        font-display: swap;
    }

    .container-form {
        
        .mb-3 {
                
            .form-label {
                font-family: poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 12.4635px;
                line-height: 150%;
                letter-spacing: 0.01em;
                color: #6F7482;
                font-display: swap;
            }
        }

        
        .contact-button {
            padding-top: 25px;

            #btn-contact {
                background-color: nth($color,1);
                border-bottom: none;
                border: none;
        
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 14.0214px;
                line-height: 17px;
                letter-spacing: 0.02em;
                color: nth($color,2);
                text-transform: capitalize;
                font-display: swap;
    
                &:hover {
                    box-shadow: 0 0 20px nth($color,1);
                    transition: all 0.5s ease-in-out;
                }
            }

        }
    }

    @media all and (max-width: $sm) {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        flex-direction: column;
        margin: 0px 80px 0px 80px;
    }

    @media all and (max-width: 992px) {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        flex-direction: column;
        margin: 0px 80px 80px 90px;
    }
}

#btn-contact { 
    text-transform: uppercase;
    font-family: montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: nth($color,2);
    font-display: swap;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;

    background-color: nth($color,1); 
    border-radius: 8px;

    width: 120px;
    height: 36px;
    left: 84px;
    top: 509px;

    &:hover {
        box-shadow: 0 0 45px nth($color, 1);
        color: nth($color,2);
    }

   &:focus {
       border-bottom: none;
       box-shadow: none;
   }

    @media all and (max-width: $sm) {
        font-size: 12px;
        margin: 10px 0px;
        background-color: nth($color,1); 
        border-radius: 8px;
        width: 120px;
        height: 36px;
    }
}

#label-form-name, #label-form-apellido, #label-form-mail, #label-form-actividad, #label-form-consulta {
    @extend %label-form;
}

#exampleFormControlInput1, #exampleFormControlInput2, #exampleFormControlInput3, #exampleFormControlInput4, #exampleFormControlTextarea1 {
    &:focus {
        @extend %imput-focus;
    }
}



