/* GENERAL */ 

/* ------------ */ 

/* FOOTER SECTION WITH BOOTSTRAP START */ 
footer {
    width: 100%;
    background-color: nth($color,5);

    .footer-div {
        width: 100%;
        padding: 40px 0px;
        @include container (inline-flex, row, wrap, none, space-evenly);
        

        .footer-section-logo {
            @include container (flex, column, none, center, flex-start);
        }

        .footer-nav {

            .footer-menu-list {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 4px 0px;

                #link-footer-one, #link-footer-two, #link-footer-three, #link-footer-four, #link-footer-five {
                    padding: 4px 0px;
                    font-family: poppins;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 18px;
                    color: nth($color,2);
                    text-transform: capitalize;
                    font-display: swap;
                           
                    &:hover {
                        color: nth($color,1);
                    }
                }

                @media all and (max-width: $sm) {
                    margin-top: 30px;
                }
        
                @media all and (max-width: $md) {
                    margin-top: 30px;
                }
            }
        }

        .footer-info-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            .footer-info {
                padding: 4px 0px;

                .footer-text {
                    font-family: poppins;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 18px;
                    color: nth($color,2);
                    font-display: swap;
            
                    margin: 10px 0px 0px 40px;

                    .footer-location-text {
                        &:hover {
                            color: nth($color,1);
                        }
                    }

                    .footer-email-text {
                        &:hover {
                            color: nth($color,1);
                        }
                    }
                }
            }

            @media all and (max-width: $mobile) {
                margin-top: 30px;
                align-items: center;
            }

            @media all and (max-width: $sm) {
                margin-top: 30px;
                align-items: center;
            }

            @media all and (max-width: $md) {
                margin-top: 30px;
                align-items: center;
            }
        }

        .footer-social-media {
            .footer-text {
                font-family: poppins;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 18px;
                color: nth($color,2);
                font-display: swap;
        
                margin: 10px 0px 0px 40px;
            }
        }

        .footer-social-media {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            #follow-us {
                margin: 0;
                padding-top: 8px;
            }

            .rrss-icons {
                display: flex;
                flex-direction: row;
                margin-left: 0px;

                .footer-icon {
                    padding: 0px 10px;
                 }
            }

            @media all and (max-width: $sm) {
                margin-top: 30px;
            }
    
            @media all and (max-width: $md) {
                margin-top: 30px;
            }
        }

        @media all and (max-width: $sm) {
            margin-top: 10px;
            justify-content: space-evenly;
            flex-direction: column;
        }

        @media all and (max-width: $md) {
            margin-top: 10px;
            justify-content: space-evenly;
            flex-direction: column;
        }
    }
    
    .copyright {

        .copyright-text {
            font-family: poppins;
            font-style: italic;
            font-weight: 300;
            font-size: 14px;
            line-height: 8px;
            color: nth($color,2);
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 20px 0px;
            font-display: swap;
        }

    }
    
    @media all and (max-width: $sm) {
        margin-top: 10px;
        width: 100%;
        background-color: nth($color,5);
    }

    @media all and (max-width: $md) {
        margin-top: 10px;
        width: 100%;
        background-color: nth($color,5);
    }

}