/* FONTS */ 

$font-profe-name: (
    family-profe: Montserrat,
    style-profe: normal,
    weight-profe: bold,
    size-profe: 16px,
);

$font-class-name: (
    family-class: Poppins,
    style-class: normal,
    weight-class: normal,
    size-class: 14px,
);